<template name='homeLayout'>
	<header class="logo">
		<img src="img/smoothlife_logo.jpg" class="logoImg">
		<br>
		{{> loginButtons}}
	</header>
	<main>
		<div>
		{{#if currentUser}}
			<br><br>
			<table>
				<tr class="smoothieOrderTr">
					<td class="smoothieOrderTd"></td>
					<td class="smoothieOrderTd">
						<a href="/make"><button class="homeButtonA">MAKE</button></a>
					</td>
					<td class="smoothieOrderTd">
						<a href="/menu"><button class="homeButtonA">MENU</button></a>
					</td>
					<td class="smoothieOrderTd"></td>
				</tr>
				<tr class="smoothieOrderTr">
					<td class="smoothieOrderTd"></td>
					<td class="smoothieOrderTd">
						<a href="/ingredient"><button class="homeButtonB">INGREDIENTS</button></a>
					</td>
					<td class="smoothieOrderTd">
						<a href="/smoothies"><button class="homeButtonB">SMOOTHIES</button></a>
					</td>
					<td class="smoothieOrderTd"></td>
				</tr>
			</table>
			
		{{else}}
		<p class="logo">Please Sign in or Create account.</p>
		{{/if}}
		</div>
	</main>
</template>